* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6fb;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*------------------- dev1 : Nav Bar  -------------------*/
.container-nav {
  display: flex;
  padding: 24px;
  gap: 10px;
  height: 128px;
  max-width: 1440px;
  width: 100%;
}

.nav-bar-head {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  border: 0px 0px 1px 0px;
  border-radius: 99px;
  padding: 12px 80px;
  background-color: white;
}

.logo-head {
  display: flex;
  background-color: transparent;
  justify-items: center;
  width: 91.67px;
  height: 40px;
}
.nav-wrapper {
  display: flex;
  background-color: transparent;
  width: fit-content;
  height: fit-content;

  align-items: center;
}

.nav-link {
  padding: 16px 24px;
  align-content: center;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  gap: 10px;
}

.nav-link a:hover {
  text-decoration: underline #5e44ff;
  color: #5e44ff;
}

.nav-link a {
  display: block;
  color: black;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
}

/*------------------- dev1 : Frame 427321237 -------------------*/
.container2 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 1440px;
  width: 100%;
  padding: 120px 20px;
  gap: 120px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.frame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 40px;
  background-color: transparent;
}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 236px;
  height: 40px;
  padding: 8px 20px 8px 20px;
  border-radius: 999px;
  background-color: #563aff1a;
}
.tag p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 196px;
  height: 24px;
  color: #5e44ff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  background-color: transparent;
}

.frame {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: fit-content;
  height: fit-content;
  gap: 24px;
  text-align: center;
}

.frame h1 {
  width: 1200px;
  height: 84px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 800;
  font-style: normal;
  line-height: 84px;
  align-self: center;
}

.text-product {
  display: inline-block;
  color: #5e44ff;
}

.frame h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 32px;
  align-self: center;
  color: #1a1a2c;
}

.button-start {
  box-sizing: border-box;
  background-color: #1a1a2c;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 16px;
  padding: 16px 36px 16px 36px;
  gap: 6px;
  appearance: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  align-self: center;
}

/*------------------- dev2 : feature section -------------------*/
.feature-group {
  display: flex;
  flex-direction: row;
  width: 1201px;
  height: 272px;
  gap: 20px;
}

.feature-group1 {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 28px;
  gap: 40px;
  background-color: #d7e5f6;
  width: 387px;
}

.streamlined-workflows h3 {
  background-color: #d7e5f6;
}

.streamlined-workflows-detail p {
  background-color: #d7e5f6;
}

.feature-group2 {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 28px;
  gap: 40px;
  background-color: #d8e0fc;
  width: 387px;
}

.blazing-fast-performance h3 {
  background-color: #d8e0fc;
}

.blazing-fast-performance-detail p {
  background-color: #d8e0fc;
}

.feature-group3 {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 28px;
  gap: 40px;
  background-color: #e8dcf6;
  width: 387px;
}

.intuitive-interface h3 {
  background-color: #e8dcf6;
}

.intuitive-interface-detail p {
  background-color: #e8dcf6;
}

.logo-blog {
  width: 60px;
  height: 60px;
  border-radius: 16px;
}

.icon-frame {
  margin: 14px;
}

.detail-front {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 331px;
}

p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  color: #5f5f76;
}

h3 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  line-height: 32px;
  font-style: normal;
  color: #1a1a2c;
}
/*------------------- dev2 : feature section -------------------*/

/*------------------- dev2 : contact section -------------------*/
.container3 {
  display: flex;
  flex-direction: column;
  width: 1439px;
  height: 850px;
  top: 1096px;
  left: 1px;
  padding: 0px 120px 80px 120px;
  gap: 80px;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfe;
  width: 1199px;
  height: 666px;
  border-radius: 24px;
  padding: 80px 120px 80px 120px;
  gap: 40px;
}

form > header > h2 {
  font-size: 44px;
  line-height: 48px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  align-items: center;
  background-color: #fcfcfe;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 589px;
  height: 322px;
  gap: 20px;
  background-color: #fcfcfe;
}

.name-section {
  display: flex;
  flex-direction: column;
  width: 589px;
  height: 76px;
  gap: 4px;
  background-color: #fcfcfe;
}

main > div > label {
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #5f5f76;
  background-color: #fcfcfe;
}

.name-section input {
  width: 589px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #e0e0ed;
  padding: 12px 12px 12px 16px;
  gap: 4px;
  background-color: #ffffff;
}

.email-section {
  display: flex;
  flex-direction: column;
  width: 589px;
  height: 76px;
  gap: 4px;
  background-color: #fcfcfe;
}

.email-section input {
  width: 589px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #e0e0ed;
  padding: 12px 12px 12px 16px;
  gap: 4px;
  background-color: #ffffff;
}

.message-section {
  display: flex;
  flex-direction: column;
  width: 589px;
  height: 130px;
  gap: 4px;
  background-color: #fcfcfe;
}

.message-section input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 589px;
  height: 102px;
  border-radius: 12px;
  border: 1px solid #e0e0ed;
  padding-left: 12px;
  padding-bottom: 52px;
  gap: 10px;
  background-color: #ffffff;
}

.get-in-touch button {
  width: 589px;
  height: 56px;
  border-radius: 16px;
  padding: 16px 36px 16px 36px;
  gap: 6px;
  background-color: #1a1a2c;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.name-section input::placeholder {
  width: 561px;
  height: 24px;
  gap: 4px;
  color: #9393ac;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.email-section input::placeholder {
  width: 561px;
  height: 24px;
  gap: 4px;
  color: #9393ac;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.message-section input::placeholder {
  width: 571px;
  height: 88px;
  color: #9393ac;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

footer {
  display: flex;
  flex-direction: row;
  width: 1199px;
  height: 24px;
  justify-content: space-between;
}

footer p {
  width: 247px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #5f5f76;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  width: 313px;
  height: 24px;
  gap: 37px;
}

.faq-button {
  border: none;
  width: 32px;
  height: 24px;
  border-radius: 5px;
  gap: 6px;
  color: #1a1a2c;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: #f5f5fb;
}

.terms-button {
  border: none;
  width: 49px;
  height: 24px;
  border-radius: 5px;
  gap: 6px;
  color: #1a1a2c;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: #f5f5fb;
}

.ai-policy-button {
  border: none;
  width: 67px;
  height: 24px;
  border-radius: 5px;
  gap: 6px;
  color: #1a1a2c;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: #f5f5fb;
}

.pricing-button {
  border: none;
  width: 54px;
  height: 24px;
  border-radius: 5px;
  gap: 6px;
  color: #1a1a2c;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: #f5f5fb;
}

.nav-menu button:hover {
  color: #5e44ff;
}
/*------------------- dev2 : contact section -------------------*/
